body {
  font-family: sans-serif;
  color: #333;
  background: #f7f7f7;
  line-height: 1.5;
}
.wrapper {
  width: 90%;
  max-width: 500px;
  margin: 4em auto;
  text-align: center;
}
.logo {
  width: 100%;
  max-width: 200px;
  height: auto;
}
.btn {
  display: inline-block;
  text-decoration: none;
  background: steelblue;
  color: white;
  padding: 1em 2em;
  font-size: 1.1em;
  border-radius: 5px;
}
